<h2 id="question-number">{{localize("quiz_loading")}}</h2>
<div class="questionBox">
    <div>
        <p id="question-text"></p>
    </div>
</div>
<div class="navButtons">
    <!-- TODO onclicks -->
    <!-- TODO class-ify button colors, with classes inheriting buttonQuestion -->
    <!-- TODO repatriate CSS classes to respective files instead of main -->
    <button class="buttonQuestion" style="background-color: #1b5e20;">{{localize("quiz_btn_yes1")}}</button>
    <button class="buttonQuestion" style="background-color: #4caf50;">{{localize("quiz_btn_yes0")}}</button>
    <button class="buttonQuestion" style="background-color: #bbbbbb;">{{localize("quiz_btn_neutral")}}</button>
    <button class="buttonQuestion" style="background-color: #f44336;">{{localize("quiz_btn_no0")}}</button>
    <button class="buttonQuestion" style="background-color: #b71c1c;">{{localize("quiz_btn_no1")}}</button>
</div>

<div class="navButtons">
    <button class="button" id="back_button">{{localize("quiz_btn_back_q")}}</button> <!-- TODO js prev_question & visibility -->
    <button class="button" id="button_back_off">{{localize("quiz_btn_back_i")}}</button> <!-- TODO goto start & visibility -->
</div>
<div class="navButtons">
    <button class="button">{{localize("quiz_btn_random")}}</button> <!-- TODO js simulate -->
</div>
