<h2>{{localize("index_title_instructions")}}</h2>
<p class="simpleText" [innerHTML]="localize('index_welcome')"></p>
<br/>
<p class="simpleText"><i class="fa fa-bell" aria-hidden="true"></i> {{localize("index_context")}}</p>
<p class="simpleText"><i class="fa fa-bell" aria-hidden="true"></i> {{localize("index_advice")}}</p>
<p class="simpleText"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{localize("index_warning")}}</p>

<div class="navButtons">
	<a class="button" (click)="onStartQuiz()">
        {{localize("index_btn_start")}}
    </a>
</div>
