<header>
    <div id="header">
        <div class="headerLeft">
            <a (click)="gotoHelp()">
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            </a>
            <a (click)="gotoLangSelect()">
                <i class="fa fa-language" aria-hidden="true"></i>
            </a>
        </div>
        <div class="headerMiddle">
            <h1><a (click)="gotoStart()">
                PolitiScales <!-- TODO site name -->
            </a></h1>
        </div>

        <div class="headerRight">
            <!-- replaced Twitter -->
            <a href="https://github.com/Gouvernathor/Politiscales-Angular">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</header>

<div id="content" [lang]="getLang()">
    <div id="mainFrame">
        <router-outlet />
    </div>
</div>

<div id="footer" [lang]="getLang()">
    <p>{{localize('footer')}}</p>

    <!-- prompt to participate in translation, replaced -->
    <p [innerHTML]="localize('footer2')"></p>
</div>
